<h3><%= @job.title %></h3>
<h3><%= @job.company %></h3>
<h2>Job Description</h2>
<p><%= @job.description %></p>


<%= link_to "Apply for Job", new_job_application_path(@job), class: 'btn btn-primary' %>
