<div class="panel panel-default">
  <div class="panel-heading"><h4>Reference# <%= index + 1 %></h4></div>
    <div class="panel-body">
      <p><%= ref.name %></p>
      <p><%= ref.phone_number %></p>
      <p><%= ref.relationship %></p>
    </div>
</div>
